<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="hisbodymanagerEntities" connectionString="metadata=res://*/HisBodyManager.csdl|res://*/HisBodyManager.ssdl|res://*/HisBodyManager.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=refilwe;Persist Security Info=True;database=hisbodymanager&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>